<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
        <section name="StartupServices" type="UserStorage.Configurator.CustomConfigSection.StartupServicesConfigSection, UserStorage"/>
    </configSections>
    <StartupServices>
      <IdGenerator type="UserStorage.Generator.PrimeIdGenerator, UserStorage" />
      <Saver type="UserStorage.StateSaver.XmlStateSaver, UserStorage" />
      <Validator type="UserStorage.Validator.CustomUserValidator, UserStorage" />
      <Services>
        <Service isMaster="true" serviceType="UserStorage.Service.MasterService, UserStorage" ipAddress="127.0.0.1" port="1080" />
        <Service serviceType="UserStorage.Service.SlaveService, UserStorage" ipAddress="127.0.0.1" port="1081" />
        <Service serviceType="UserStorage.Service.SlaveService, UserStorage" ipAddress="127.0.0.1" port="1082" />
      </Services>
    </StartupServices>

 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="traceSource"
              switchName="traceSourceSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="textwriterListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="out.txt"/>
          <add name="xmlListener"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="outfile.xml"
            traceOutputOptions="DateTime" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="traceSwitch" value="0"/>
      <add name="traceSourceSwitch" value="Information" />
    </switches>
  </system.diagnostics>
  
  <!--
  <appSettings>
    <add key="CurrentId" value="11" />
    <add key="FilePath" value="file.xml" />
    <add key="LogListener" value="ConsoleTraceListener" />
  </appSettings>
  -->

  <appSettings>
    <add key="XmlUserSaverPath" value="UserSaver.xml"/>
  </appSettings>
  

</configuration>