<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
      <section name="StartupServices" type="Configurator.CustomConfigSection.StartupServicesConfigSection, Configurator"/>
  </configSections>
  <StartupServices>
      <IdGenerator type="Generator.PrimeIdGenerator, Generator" />
      <UserStorage type="UserStorage.UserStorage.MemoryUserStorage, UserStorage" />
      <Saver type="UserStorage.StateSaver.XmlStateSaver, UserStorage" />
      <Validator type="UserStorage.Validator.CustomUserValidator, UserStorage" />
      <Logger type="UserStorage.Logger.Logger, UserStorage" />
      <Sender type="UserStorage.Network.Sender, UserStorage" />
      <Receiver type="UserStorage.Network.Receiver, UserStorage" />
      <Services>
        <Service isMaster="true" serviceType="UserStorage.Service.MasterService, UserStorage" ipAddress="127.0.0.1" port="5555" />
        <Service serviceType="UserStorage.Service.SlaveService, UserStorage" ipAddress="127.0.0.1" port="5556" />
        <Service serviceType="UserStorage.Service.SlaveService, UserStorage" ipAddress="127.0.0.1" port="5557" />
      </Services>
  </StartupServices>
 
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="Source"
              switchName="SourceSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="configConsoleListener"
               type="System.Diagnostics.ConsoleTraceListener"
               traceOutputOptions="ThreadId"/>
          <add name="textwriterListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="logging/log.txt"
               traceOutputOptions="ThreadId, DateTime"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Switch" value="1"/>
      <add name="SourceSwitch" value="Information"/>
    </switches>
  </system.diagnostics>
  
  <appSettings>
    <add key="XmlUserStoragePath" value="UserSaver.xml"/>
  </appSettings>

</configuration>