<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- 
 <configSections>
  
      <section name="StartupFolders" type="TestConsoleApplication.StartupFoldersConfigSection, TestConsoleApplication"/>
  </configSections>
   <StartupFolders>
    <Folders>
        <add folderType="A" path="c:\foo" />
        <add folderType="B" path="C:\foo1" />
    </Folders>
  </StartupFolders>
  -->

  <configSections>
    <!-- 
    name = Имя, которое используется для ссылки на данный раздел в файле настройки.
    type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
  -->
    <section name="Services" type="Configurator.ServicesConfigSection, Configurator"/>
  </configSections>
  <Services>
    <Master count="1" />
    <Slave count="3" />
  </Services>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="traceSource"
              switchName="traceSourceSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="textwriterListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="out.txt"/>
          <add name="xmlListener"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="outfile.xml"
            traceOutputOptions="DateTime" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="traceSwitch" value="0"/>
      <add name="traceSourceSwitch" value="Information" />
    </switches>
  </system.diagnostics>
  
  <appSettings>
    <add key="CurrentId" value="11" />
    <add key="FilePath" value="file.xml" />
    <add key="LogListener" value="ConsoleTraceListener" />
  </appSettings>

</configuration>